<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div class="card">
      <div class="main">
        <div class="header">
          <div class="img">
            <img src="../img/can-real-sugar-reg.png" alt="" />
          </div>
          <div class="name">
            <b>
              Lon cocacola
            </b>
          </div>
        </div>
        <div class="content">
          <div class="size">
            <p>
              Size:
            </p>
            <div class="sizes">
              7
            </div>
            <div class="sizes">
              8
            </div>
            <div class="sizes">
              9
            </div>
            <div class="sizes">
              10
            </div>
          </div>
          <div class="color">
            <p>
              Colors:
            </p>
            <div class="colors"></div>
            <div class="colors"></div>
            <div class="colors"></div>
          </div>
          <div class="button">
            <button>BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
