@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); *
{ margin: 0; padding: 0; box-sizing: border-box; font-family: "Poppins",
sans-serif; } *, *::before, *::after { box-sizing: border-box; } body { width:
100%; height: 100vh; display: flex; justify-content: center; align-items:
center; } .switch-wrapper { width: 150px; height: 60px; background-color: #fff;
display: block; margin: 0 auto; border-radius: 30px; box-shadow: rgba(100, 100,
111, 0.2) 0px 7px 29px 0px; position: relative; } .switch-input { display: none;
} .switch-input:checked + .switch-wrapper .switch-spin { background-color:
rgb(7, 143, 255); transform: translateX(calc(150px - 60px)); } .switch-wrapper
.switch-spin { width: 60px; height: 60px; background-color: rgb(233, 233, 233);
position: absolute; top: 0px; left: 0px; border-radius: 50%; transition: 0.2s
ease; }
