<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .item {
        width: 100px;
        height: 100px;
        background-color: deeppink;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <script>
      var it = document.getElementsByClassName("item").length;

      for (i = 0; i <= it - 1; i++) {
        document
          .getElementsByClassName("item")
          [i].addEventListener("click", function() {
            alert("OK");
          });
      }
    </script>
  </body>
</html>
